<head>
  <title>Wings!</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles1.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="jquery.flightboard.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</head>
<body>


  <div class="container">


  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div id="intro">

          <h1 class="type">
            Try a  <br>
            <span class="typewrite" data-period="2000" data-type="[ &quot;Hot&quot;, &quot;Mild&quot;, &quot;Tangy&quot;, &quot;Sweet&quot;, &quot;zesty&quot; ]"></span><br>
            wing Sauce.
          </h1>
          <a href = '/info'><h4>Try it!</h4></a>

      </div>
<script src='/scripts/src.js'>
</script>
    </div>



  </div>
  </div>
</body>
</html>
