<html>
    <head>
    <title>test form</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <h1><center>Survey!</center> </h1>
    <form id="myform" action="/surveyresponse" method="post">
<center>
<input type="hidden" value= <%-fname %> name="fname" id="fname" />

      <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <h2 class="font-weight-bold text-center mb-2">Survey</h2>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4 border border-light">

        <hr>
        <p>Question 1 </p>
        <div class="survey-head text-center">
          <i class="fas fa-poll-h fa-3x blue-text mb-2"></i>

          <p>
            How do you handle hot flavors?
          </p>
        </div>
        <hr>
        <p class="text-center">Your rating:</p>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question1" type="radio" id="radio-179" value="1" checked>
          <label class="form-check-label" for="radio-179">Very good</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="question1" type="radio" id="radio-279" value="2">
          <label class="form-check-label" for="radio-279">Good</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="question1" type="radio" id="radio-379" value="3">
          <label class="form-check-label" for="radio-379">Mediocre</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question1" type="radio" id="radio-479" value="4">
          <label class="form-check-label" for="radio-479">Bad</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question1" type="radio" id="radio-579" value="5">
          <label class="form-check-label" for="radio-579">Very bad</label>
        </div>
        <!-- Radio -->
      </div>








      <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">

      </div>

    </div>
    <div class="row">
      <div class="col-md-4 border border-light">

        <hr>
          <p>Question 2 </p>
        <div class="survey-head text-center">
          <i class="fas fa-poll-h fa-3x blue-text mb-2"></i>

          <p>
            What Do you think about BBQ sauce?
          </p>
        </div>
        <hr>
        <p class="text-center">Your rating:</p>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question2" type="radio" id="radio-179" value="1" checked>
          <label class="form-check-label" for="radio1">Very good</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="question2" type="radio" id="radio-279" value="2">
          <label class="form-check-label" for="radio2">Good</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="question2" type="radio" id="radio-379" value="3">
          <label class="form-check-label" for="radio3">Mediocre</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question2" type="radio" id="radio-479" value="4">
          <label class="form-check-label" for="radio4">Bad</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question2" type="radio" id="radio-579" value="5">
          <label class="form-check-label" for="radio5">Very bad</label>
        </div>
        <!-- Radio -->
      </div>










      <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">

      </div>

    </div>
    <div class="row">
      <div class="col-md-4 border border-light">

        <hr>
          <p>Question 3 </p>
        <div class="survey-head text-center">
          <i class="fas fa-poll-h fa-3x blue-text mb-2"></i>

          <p>
            How do you handle hot flavors?
          </p>
        </div>
        <hr>
        <p class="text-center">Your rating:</p>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question3" type="radio" id="radio-179" value="1" checked>
          <label class="form-check-label" for="radio-179">Very good</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="question3" type="radio" id="radio-279" value="2">
          <label class="form-check-label" for="radio-279">Good</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="question3" type="radio" id="radio-379" value="3">
          <label class="form-check-label" for="radio-379">Mediocre</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question3" type="radio" id="radio-479" value="4">
          <label class="form-check-label" for="radio-479">Bad</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question3" type="radio" id="radio-579" value="5">
          <label class="form-check-label" for="radio-579">Very bad</label>
        </div>
        <!-- Radio -->
      </div>










      <div class="container mt-5">
    <div class="row">


    </div>
    <div class="row">
      <div class="col-md-4 border border-light">

        <hr>
  <p>Question 4 </p>
        <div class="survey-head text-center">
          <i class="fas fa-poll-h fa-3x blue-text mb-2"></i>

          <p>
            How do you handle hot flavors?
          </p>
        </div>
        <hr>
        <p class="text-center">Your rating:</p>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question4" type="radio" id="radio-179" value="1" checked>
          <label class="form-check-label" for="radio-179">Very good</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="question4" type="radio" id="radio-279" value="2">
          <label class="form-check-label" for="radio-279">Good</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="question4" type="radio" id="radio-379" value="3">
          <label class="form-check-label" for="radio-379">Mediocre</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question4" type="radio" id="radio-479" value="4">
          <label class="form-check-label" for="radio-479">Bad</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question4" type="radio" id="radio-579" value="5">
          <label class="form-check-label" for="radio-579">Very bad</label>
        </div>
        <!-- Radio -->
      </div>











      <div class="container mt-5">
    <div class="row">


    </div>
    <div class="row">
      <div class="col-md-4 border border-light">

        <hr>
        <p>Question 5 </p>
        <div class="survey-head text-center">
          <i class="fas fa-poll-h fa-3x blue-text mb-2"></i>

          <p>
            How do you handle hot flavors?
          </p>
        </div>
        <hr>
        <p class="text-center">Your rating:</p>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question5" type="radio" id="radio-179" value="1" checked>
          <label class="form-check-label" for="radio-179">Very good</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="question5" type="radio" id="radio-279" value="2">
          <label class="form-check-label" for="radio-279">Good</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="question5" type="radio" id="radio-379" value="3">
          <label class="form-check-label" for="radio-379">Mediocre</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question5" type="radio" id="radio-479" value="4">
          <label class="form-check-label" for="radio-479">Bad</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="question5" type="radio" id="radio-579" value="5">
          <label class="form-check-label" for="radio-579">Very bad</label>
        </div>
        <!-- Radio -->
        <br>
        <input  type = 'submit' value ='Submit'   id = 'submitbtn'/>
      </div>









</center>
</body>
</html>
